.footer-container {
    color: whitesmoke;
    background-color: violet;
    padding: 20px;
    text-align: center;
  }
  
  .contact-info {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .contact-info p {
    margin: 8px 0;
  }

  